h2 { 
    color: firebrick;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://assets.reedpopcdn.com/bf2042_ojtv1oJ.jpg/BROK/thumbnail/1600x900/quality/100/bf2042_ojtv1oJ.jpg');
    background-size: cover;
  }