<h2>Game Component</h2>

<input type="text" [(ngModel)]="searchText" (change)="handleSearchChange($event)" placeholder="Search for game..">

<div>
    Searched text: {{searchText}}
</div>

<div class="game-info">
    <ul #gamesContainer >
        <li *ngFor="let game of games">
            <app-game-item *ngIf="showGameItemComponent" [gameSource]="game">

            </app-game-item>
            
        </li>
    </ul>

    <div>
        Total Games: {{gamesContainer.children.length}}
    </div>

    <button (click)="handleCreateOrDestroyGameItem()">
        {{showGameItemComponent ? 'Destroy Game Item Component' : 'Create Game Item Component'}}
    </button>

    <button (click)="handleExpandContentClick(gamesContainer)">
        {{swapColours ? 'Make Price Dark' : 'Make Price Purple'}}
    </button>
</div>